# Server Configuration
PORT=3001

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/wise_auth
DIRECT_URL=postgresql://user:password@localhost:5432/wise_auth

# JWT Configuration
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=1h

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

GATEWAY_URL=http://localhost:3002/wise

SERVICEBUS_CONNECTION_STRING=Your_ServiceBus_Connection